* {
    color: #1B0E02;
}


body {
    background-color: #CCE3FE;
}

header, footer {
    text-align: center;
}

header h1 {
    font-family: 'MuseoModerno', cursive;
    font-size: 3.75em;
    margin: 0;
    padding-top: 20px;
}

header h2 {
    padding-top: 0px
    
}

#banner {
   max-height: 250px;
   padding-top: 10px;
   padding-bottom: 30px;
}

#decorative {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(359deg, #e59183, #f0d593, #d4f3d1);
    background-size: 600% 600%;

    animation: gradient 5s ease infinite;
}


#leftcloud{
    position: relative;
    top: -210px;
    left: -180px;
    z-index: auto;
}

#rightcloud{
    position: relative;
    top: -210px;
    left: 40px;
    z-index: auto;
}

header h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1em;
}

main {
    margin-left: 165px;
    margin-right: 165px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;   
}

#decorative, .box {
    border: 2px solid #1B0E02;
    box-shadow: -5px 5px 0px 2px #000000;
}

.box {
    background-color: white;
    padding-left: 20px;
}

.box h2 {
    font-family: 'MuseoModerno', cursive;
    font-size: 1em;
}

.box ul li a {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
}

footer {
    font-family: 'MuseoModerno', cursive;
    font-size: 1em;
    padding-top: 30px;
    padding-bottom: 20px;
}

footer p {
    font-weight: 700;
    margin: 0px;
}

footer a {
    font-weight: 400;
    text-decoration: none;
}

/* .css-selector {
    background: linear-gradient(359deg, #e59183, #f0d593, #d4f3d1);
    background-size: 600% 600%;

    animation: gradient 0s ease infinite;
} */

@keyframes gradient {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}