* {
    color: #1B0E02;
}

body {
    background-color: #CCE3FE;
}

header, footer {
    text-align: center;
}

header h1 {
    font-family: 'MuseoModerno', cursive;
    font-size: 3.75em;
    margin-bottom: 0;
}

#banner {
   max-height: 250px;
   padding: 20px;
}


#leftcloud{
    position: relative;
    top: -210px;
    left: -180px;
    z-index: auto;
}

#rightcloud{
    position: relative;
    top: -210px;
    left: 40px;
    z-index: auto;
}

header h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1em;
}

main {
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;    
}

.box {
    background-color: white;
    padding-left: 20px;
    box-shadow: -5px, 5px, black;
}

.box h2 {
    font-family: 'MuseoModerno', cursive;
    font-size: 1em;
}

.box ul li a {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
}

footer {
    font-family: 'MuseoModerno', cursive;
    font-size: 1em;
    padding-bottom: 20px;
}

footer p {
    font-weight: 700;
}

footer a {
    font-weight: 400;
    text-decoration: none;
}