
/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    color: #FFFF;
    background-color: #161414;
    line-height: 1.5em;
    max-width: 1200px;
    margin:auto;
    font-size: 18px;
}

button{
    padding: 14px 30px;
}

button, .button{ 
    background: #FFFFFF;
    border: 0;
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    margin-left:0;
}

#quit{
    width:fit-content;
    background: #FFFFFF;
    border: 0;
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    padding:14px;
    position:relative;
    left:1100px;
    top: -100px;
    display:block;
    z-index: 1;
}

#secondheader{
    height:125px;
}

#quit a{
    text-decoration: none;
    color: #161414;

}

.dice, #formdiv, #startgame:hover, button:hover, #quit:hover{
    background: linear-gradient(270deg, #d487c3, #b684fa, #81b4df);
    background-size: 600% 600%;
    animation: gradient 10s ease infinite;
}

#startgame:hover, button:hover{
    cursor: pointer;
}


.hidden {
    display: none;
}

.showing {
    display: block;
}

/* first main section */

h1{
    font-family: 'Fredoka One', cursive;
    font-size:100px;
    color: #D487C3;
    line-height: normal;
    margin-bottom: 0;
    margin-top:0;
    text-transform: uppercase;
}

#first{
    display: flex;
    height: 100vh;
    /* justify-content: center; */
    align-items: center;

}

#mainunicornimg{
    width: 490px;
    height: 330px;
}


#mainright{
    width: 600px;
    padding:0;
}

#mainright p{
    margin-top:0;
}

#formdiv{
    padding: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;

}

label{
    color: #161414;
    font-family: 'Fredoka One', cursive;
    margin-right: 20px;
    text-transform: uppercase;
}

input{
    height: 30px;
}

#startgame{
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

/* second game section */

#first div{
    padding: 20px;
}

#second h1{
    text-align:center;
    margin-top: 30px;

}

#score {
    text-align: center;
    display:flex;
    justify-content: center;
    gap: 50px;
}

#score div{
    padding: 15px;
    background-color: #FFFFFF;
    color: #161414;
    border-radius: 10px;
    font-size: 24px;
    text-transform: uppercase;
    width: 200px;
    margin-bottom:0;

}

#score p{
    margin:0;
}

.scoreheader{
    font-weight: 700;
}

#game {
   text-align: center;
}

#game p{
    margin-top: 28px;
}

#game img{
    width: 270px;
    height: 270px;
}

.dice{
    margin:20px;
    border-radius: 10px;

}

#actions {
    text-align:center;
    padding:0;
}

#pass, #rollagain {
    width: 170px;
    margin:20px;
}

#unicorns{
    width: 490px;
    height: 330px;
}

footer{
    text-align:center;
    color:#FFFFFF;
    bottom: 0;
}

footer a{
    text-decoration: none;
    color:#FFFFFF;
}

footer a:hover{
    color: #D487C3;
}


/* Animation */
@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
