/* global styles */
body {
    background-image: url(images/background.png);

}

h1,h3, body {
    color: #2D241D;
}

h2 {
    font-family: 'Chewy', cursive;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

h3, body {
    font-family: 'Delius', cursive;
}

body {
    font-size: 18px;
}

header, section {
    margin: auto;
    width: 1100px;
}

img {
    Display: block;
    Max-width: 100%;
    Height: auto;
}

.number{
  background-color: #bbb;
  font-size: 100px;
  text-align: center;
  line-height: 150px;
  width: 150px;
  border-radius: 100%;
  display: inline-block;
}

/* first main section */
#first h1 {
    font-family: 'Chewy', cursive;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 30px;

}

#first {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 140px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#first img {
    background: linear-gradient(359deg, #e59183, #f0d593, #d4f3d1);
    background-size: 600% 600%;
    animation: gradient 8s ease infinite;
}

/* animation */
@keyframes gradient {
    0% {background-position: 0% 11%
    }

    50% {background-position: 100% 90%
    }

    100% {background-position: 0% 11%
    }
}

#first p, .secondtag{
    display: block;
    width: fit-content;
    padding: 20px;
    font-size: 24px;
    margin-top: 0;
    border-radius: 5px;
}

#first p{
    background-color: #CCE3FE;
}


/* Section 1 Formatting */

.intro, .second {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 150px;
    margin-bottom: 100px;
}

.leftintro{
    width: 550px;
}

.leftintro h2 {
    margin-bottom: 0;
}

.leftintro p{
    line-height: 24px;
}

.postit{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.postitnote{
    background-color: #FAEAD8;
    padding: 30px;
    width: 200px;
    height: 190px;
    font-size: 16px;
    box-shadow: -3px 3px 2px 1px rgba(0, 0, 0, 0.05);
}

.introimage{
    align-content:center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 315px;
    padding:10px;
}

.introimage img{
    margin:auto;
}

/* Section 2 Formatting */

.second{
    justify-content: center;
}

.second h2{
    font-size: 72px;
    width: 470px;
    margin-top:0;
    margin-bottom:0;
}

/* T4 */

#T4 h2, #t4tag{
    color: #009FB3;
}

#t4tag, #t4number{
    background-color: #FBF0E3;
}

