/* global styles */
* {
    color: #1B0E02;
}


h1, h2 {
    font-family: 'Bangers', cursive;
}

h1{
    font-size: 72px;
}

body{
    background-image: url(images/background.png);
}

main{
    margin-top: 80px;
    margin-bottom: 80px;

}

label,footer a, span, footer p{
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
    font-size: 18px;
}

p, input[type="text"]{
    font-family: 'Comic Neue', cursive;
    font-weight: 400;
    font-size: 18px;

}

input[type="submit"], textarea, #lastbutton {
    font-family: 'Bangers', cursive;
    background-color: white;
    color: #1B0E02;
    border: 1px solid #1B0E02;
    padding: 10px;
    font-size: 18px;
}

input[type="submit"]:hover, #lastbutton:hover {
    color: white;
    background-color: #1B0E02;
    cursor:pointer;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}


#madlibtext{
    width: 1200px;
    display: flex;
    flex: 1;
    align-content: stretch;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#madlibtext h2 {
    font-size: 2em;
    text-align: right;
}

#madlibtext h1{
    display: block;
    border: 2px solid #1B0E02;
    box-shadow: -5px 5px 0px 2px #1B0E02;
    background-color: white;
    width: 400px;
    padding: 30px;
    margin-top: 0px;
}

#formstyle {
    display: block;
    border: 2px solid #1B0E02;
    box-shadow: -5px 5px 0px 2px #1B0E02;
    background-color: white;
    width: 400px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
}


.inputclass{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.inputclass label{
    width: 120px;
    text-align: right;
}

.inputclass input{
    width: 100%;
}

.inputclass label, .inputclass input{
    padding: 5px;
    margin: 5px;
}

#madlibtext input[type="submit"] {
    margin-top: 25px;
    margin-left: 65%;
 }




/* second panel */



#madlibimage h2{
    font-size: 48px;
    display: block;
    padding: 20px;
    width: 600px;
    border: 2px solid #1B0E02;
    background-color: white;
    box-shadow: -5px 5px 0px 2px #1B0E02;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;

}

.panel {
    display: block;
    border: 2px solid #1B0E02;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    width: 570px;
}

.panel img{
    margin: 0px;
    padding: 0px;
}

.panel p{
    font-size: 18px;
    margin: 0px;
    padding: 20px;
    padding-left: 40px;
    border-bottom: 2px solid #1B0E02;
    text-align: left;
}

#lastbutton {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

span {
    text-decoration: underline;
}

footer{
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    display: block;
    border-top: 2px solid #1B0E02;
    background-color: white;
    padding: 10px;
}

footer p, footer a{
    color:#1B0E02;
}


footer a{
   text-decoration: none; 
}

footer a:hover{
    text-decoration: underline; 
 }

 /* iframe{
    border:0;
 } */


