* {
    color: #1B0E02;
}

section, form {
    display: block;
    border: 2px solid #1B0E02;
    box-shadow: -5px 5px 0px 2px #000000;
    background-color: white;
    width: 650px;
    margin:auto;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
}