/* global styles */
* {
    color: #1B0E02;
}


h1, h2 {
    font-family: 'Bangers', cursive;
}

h1{
    font-size: 72px;
}

body{
    background-image: url(images/background.png);
}

label, p, footer a {
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
    font-size: 18px;
}

input[type="submit"], textarea {
    font-family: 'Bangers', cursive;
    color: white;
    background-color: #1B0E02;
    border: 0px;
    padding: 10px;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #B55E5E;
}

/* panel1 */


#madlibtext{
    width: 1200px;
    display: flex;
    flex: 1;
    align-content: stretch;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#madlibtext h2 {
    font-size: 2em;
    text-align: right;
}

#madlibtext h1{
    display: block;
    border: 2px solid #1B0E02;
    box-shadow: -5px 5px 0px 2px #1B0E02;
    background-color: white;
    width: 400px;
    padding: 30px;
    margin-top: 0px;
}

#formstyle {
    display: block;
    border: 2px solid #1B0E02;
    box-shadow: -5px 5px 0px 2px #1B0E02;
    background-color: white;
    width: 400px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
}


.inputclass{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.inputclass label{
    width: 120px;
    text-align: right;
}

.inputclass input{
    width: 100%;
}

.inputclass label, .inputclass input{
    padding: 5px;
    margin: 5px;
}

#madlibtext input[type="submit"] {
    margin-top: 25px;
    margin-left: 65%;
 }



/* second panel */



#madlibimage h2{
    font-size: 48px;
    display: block;
    padding: 20px;
    width: 600px;
    border: 2px solid #1B0E02;
    background-color: white;
    box-shadow: -5px 5px 0px 2px #1B0E02;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;

}

.panel {
    display: block;
    border: 2px solid #1B0E02;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    width: 570px;
}

.panel img{
    margin: 0px;
    padding: 0px;
}

.panel p{
    font-size: 18px;
    margin: 0px;
    padding: 20px;
    padding-left: 40px;
    border-bottom: 2px solid #1B0E02;
    text-align: left;
}

#madlibimage input[type="submit"] {
    margin-left: 30%;
}

footer{
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    display: block;
    background-color: #1B0E02;
    padding: 20px;
}

footer p, footer a{
    color:white;
}


footer a{
   text-decoration: none; 
}

footer a:hover{
    text-decoration: underline; 
 }


