/* global styles */
body {
    background-image: url(images/background.png); 
}

h1,h3, body {
    color: #2D241D;
}

h2, #tpercentnumber, #teaspoonnumber, #iteanumber{
    font-family: 'Chewy', cursive;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

h3, body {
    font-family: 'Delius', cursive;
}

body {
    font-size: 18px;
    overflow-x: hidden;
}

section {
    margin: auto;
    width: 1100px;
    max-height: 750px;
}

img {
    Display: block;
    Max-width: 100%;
    Height: auto;
}

.number{
  background-color: #bbb;
  font-size: 100px;
  text-align: center;
  line-height: 150px;
  width: 150px;
  border-radius: 100%;
  display: inline-block;
}

/* divs */

/* div1 */
#T41, #tpercent1, #umetea1, #teaspoon1, #itea1{
    height:750px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* div2 */
#T42, #tpercent2, #umetea2, #teaspoon2, #itea2{
    margin:auto;
    height: 750px;
}

#T42 section, #tpercent2 section, #umetea2 section, #itea2 section{
    padding-top: 170px;
}


/* first main section */
#first h1 {
    font-family: 'Chewy', cursive;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top:30px;
}

#first {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 72px;
    width: 100%;
}

#first div{
    padding-left: 100px;
}

#button, #button1 {
    background: linear-gradient(359deg, #e59183, #f0d593, #d4f3d1);
    background-size: 600% 600%;
    animation: gradient 8s ease infinite;
}



#first img{
    height: 100vh;
    width: 52vw;
}

/* #bobacollage:hover{
    box-shadow: 0px 4px 8px #83baf8;
    cursor:pointer;
} */

/* animation */
@keyframes gradient {
    0% {background-position: 0% 11%
    }

    50% {background-position: 100% 90%
    }

    100% {background-position: 0% 11%
    }
}

.secondtag{
    display: block;
    width: fit-content;
    padding: 20px;
    font-size: 32px;
    margin-top: 0;
    border-radius: 5px;
}

#button1{
    border-radius: 30px;
    padding: 20px;
    width:fit-content;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
    text-align: center;
}

#button1 a{
    text-decoration: none;
    color:#2D241D;
}

#button1 a:hover{
    color:#E06F7D;
}

/* .close{
    border:none;
    padding: 10px;
} */


/* Section 1 Formatting */

.intro, .second {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 150px;
}

.leftintro{
    width: 600px;
}

.leftintro h2 {
    margin-bottom: 0;
    animation: floating 3s ease infinite;

}

.leftintro p{
    line-height: 24px;
    margin-top: 40px;
    margin-bottom:40px;
}

.postit{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.postitnote{
    background-color: #FAEAD8;
    padding: 30px;
    width: 200px;
    height: 190px;
    font-size: 16px;
    box-shadow: -3px 3px 2px 1px rgba(0, 0, 0, 0.05);
   
}

.postitnote h3, .postitnote li{
    font-family: 'Chewy', cursive;
    font-size: 18px;
}

.introimage{
    align-content:center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 315px;
    padding:10px;
    padding-top: 30px;
}

.introimage img{
    margin:auto;
}

/* Section 2 Formatting */

.second{
    justify-content: center;
}

.second h2{
    font-size: 72px;
    width: 470px;
    margin-top:0;
    margin-bottom:0;
}

/* T4 */

#T41 h2, #t4tag{
    color: #FBF0E3;
}

#t4number, #T41 .second h2, #T42 .second h2{
    color: #039BB0;
}

#t4tag{
    background-color: #039BB0;
}

#t4number{
    background-color: #FBF0E3;
}

#T41{
    background-color: #039BB0;
}

#T42{
    background-color: #a2e6ef;
}

/* teapercent */

#tpercent1 .leftintro h2, #tpercent2 .leftintro h2, #tpercentmainimg, #tpercent1 .postitnote, #tpercenttag{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: -4px 4px 0px #000000;
}


#tpercent1 .leftintro h2{
    padding: 20px;
    text-align: center;
}

#tpercentnumber, #teaspoonnumber, #iteanumber{
    display: block;
    z-index: 1;
    position: relative;
    left: 220px;
    top: 110px;
    font-size: 100px;
    text-align: center;
    line-height: 150px;
    width: 150px;
    border-radius: 100%;
    margin:0;
    
}

#tpercentnumber{
    background: #F1C9C9;
    border: 3px solid #000000;
}

#tpercent2{
    background: linear-gradient(359deg, #e59283a7, #f0d693a7, #d4f3d1a7);
}


/* umetea */

#umetea1 h2, #umetea2 h2{
    color: #E06F7D;
    
}

#umetea .postitnote{
    background-color: #FFFFFF;
}

#umeteanumber{
    background-color: #FBF0E3;
}

#umetag{
    border-radius: 40px;
    background-color: #E06F7D;
    color: #FFFFFF;
}

#umetea1{
    background: #FECCCC;
   
}

#umetea2{
    background: #FCF0F0;
   
}

/* teaspoon */

#teaspoonnumber, #teaspoon1 .leftintro h2, #teaspoontag {
    background-color: #000000;
    color: #FFFFFF;
    border: 10px double #FFFFFF;

}

#teaspoon1 .leftintro p, #teaspoon2{
    color: #FFFFFF;
}

#teaspoon1 .leftintro h2{
    padding: 20px;
    text-align: center;
}

#teaspoon1 .postitnote{
    background-color: #FFB248;
}

#teaspoon1, #teaspoon2{
    background-image: url(images/background_black.jpg);
}

#teaspoon2{
    padding-top:0;
}

.rip{
    position: relative;
    width: 100%;
    margin-top:0;

}

/* itea */

#itea1 .postitnote{
    background-color: #D5BCF1;
}

#iteanumber{
    left: 240px;
    top: 80px;
    background-color: #D5BCF1;
    border: 9px double #2D241D;
}

#iteatag{
    background-color: #2D241D;
    color:  #FFFFFF;
}

#itea1{
    background-color: #B892E2;
}

#itea2{
    background-color: #E8D4FE;
}

/* button */

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color:#2D241D;
}

#button a{
    color: #2D241D;
}

footer p{
    margin-top: 40px;
    color: #FFFFFF;

}

footer a{
    text-decoration: none;
    color: #FFFFFF;
}



#button{
    display: block;
    padding: 20px;
    border-radius: 30px;
    width: fit-content;
    margin: auto;
}

#button a{
    color: #2D241D;
}

footer a:hover, #button a:hover{
    color: #E06F7D;
}

/* animation */

.hidden{
    opacity:0;
    filter: blur(2px);
    transform:translateX(-50%) ;
}

.hidden2{
    opacity:0;
    filter: blur(2px);
}


.hidden3{
    opacity:0;
    filter: blur(2px);
}

.show{
    opacity: 1;
    filter: blur(0);
    animation: fade-in-bottom 1s ease-in-out both;

    
}

.show1{
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0); */
    /* transition: all 500ms ease-in;
    transform: translateX(0); */
}


.second img{
    animation: jiggle 2s linear infinite;
}

.second img:hover{
    animation: spin 2s linear infinite;
}

.pinkanimation{
    background: linear-gradient(133deg, #231942, #9f86c0, #e0b1cb);
    background-size: 600% 600%;
    animation: pinkanimation 6s ease infinite;

}

@keyframes jiggle{
   0%, 100%{
    transform: rotate(0);
    } 
    25%, 75%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(-30deg);
    }
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

@keyframes spin {
    0% {transform:rotate(0deg)}
    100% {transform:rotate(360deg)}

}

@keyframes pinkanimation {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}

@keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
